<p id="notice"><%= notice %></p>

<h1>Listing Explorers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @explorers.each do |explorer| %>
      <tr>
        <td><%= explorer.name %></td>
        <td><%= explorer.version %></td>
        <td><%= link_to 'Show', explorer %></td>
        <td><%= link_to 'Edit', edit_explorer_path(explorer) %></td>
        <td><%= link_to 'Destroy', explorer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Explorer', new_explorer_path %>
