<p id="notice"><%= notice %></p>

<center><h1>Versiones Internet Explorer</h1></center>

<table border="1" width="100%">
  <thead>
    <tr>
      <th><center>Nombre</center></th>
      <th><center>Version</center></th>
      <th><center>Año Reease</center></th>
      <th><center>Mes Release</center></th>
	  <th><center>Logo</th>
	 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @explorers.each do |explorer| %>
      <tr>
        <td><center><%= explorer.name %></center></td>
        <td><center><%= explorer.version %></center></td>
        <td><center><%= explorer.year %></center></td>
        <td><center><%= explorer.month %></center></td>
        <td><center><%= image_tag(explorer.image.url, :size => '123x72')%></center></td>
        

        <td><center><%= link_to 'Ver', explorer %></center></td>
        <td><center><%= link_to 'Editar', edit_explorer_path(explorer) %></center></td>
        <td><center><%= button_to 'Eliminar', explorer, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'Nueva Version', {:controller => 'explorers', :action => 'new'}, {:method => :get } %></center>
