

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @explorer.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @explorer.version %>
</p>

<p>
  <strong>Year:</strong>
  <%= @explorer.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @explorer.month %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@explorer.image.url, :size => "300x300") %>
</p>


<%= link_to 'Edit', edit_explorer_path(@explorer) %> |
<%= link_to 'Back', explorers_path %>
