

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @explorer.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @explorer.version %>
</p>

<p>
  <strong>Año:</strong>
  <%= @explorer.year %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @explorer.month %>
</p>
<p>
  <strong>Logo:</strong>
  <%= image_tag(@explorer.image.url, :size => "123x72") %>
</p>


<%= link_to 'Editar', edit_explorer_path(@explorer) %> |
<%= link_to 'Volver', explorers_path %>
