<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @explorer.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @explorer.version %>
</p>

<p>
  <strong>Year:</strong>
  <%= @explorer.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @explorer.month %>
</p>

<%= button_to 'Edit', edit_explorer_path(@explorer) %> |
<%= button_to 'Back', explorers_path %>
